.footer{
    width: 100%;
    padding: 10px;
    background-image: url(/img/bgfon.png);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.footer__nav{
    display: flex;
    gap: 40px;
    margin-left: -200px;
}

.footer__nav a{
    text-decoration: none;
    color: #98a6c2;
}

.footer__nav a:hover{
    color: white;
    cursor: pointer;
}

.footer__img{
    display: flex;
    justify-content: baseline;
    gap: 20px;
}

path:hover{
    fill: #FB88B4;
    cursor: pointer;
}

@media only screen and (max-width: 1080px) {
    .footer__nav{
        display: flex;
        gap: 40px;
        margin-left: 1px;
    }
}

@media only screen and (max-width:435px){
    .footer{
        width: 670px;
        height: 370px;
        display: block;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-top: 100px;
        text-align: center;
    }

    .footer__nav{
        display: block;
        margin-top: 80px;
    }

    .footer__nav a{
        display: block;
        justify-content: baseline;
        align-items: baseline;
        gap: 30px;
    }

    .footer__img{
        margin-top: 110px;
        margin-left: 260px;
        display: flex;
        justify-content: baseline;
        gap: 40px;
    }

    .footer__logo{
        position: relative;
        top: 50px;
    }
}