.part2{
    margin-top: 300px;
    background-image: url(../img/bgfon.png);
    width: 100%;
    height: 472px;
    opacity: 0px;
    color: white;
}

.part2__intro{
    position: relative;
    top: 150px;
    left: 70px;
}

.part2__intro p{
    width: 400px;
    color: rgb(71, 86, 92);
}

.part2__box1{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin-top: -30px;
}

.part2__box2{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.rasm{
    margin-right: 52px;
    margin-top: 25px;
}

#ns{
    margin-right: 95px;
    margin-top: 40px;
}


.part2__intro button{
    border-radius: 20px;
    width: 130px;
    height: 48px;
    border: none;
    border: 1px solid white;
    background-color: #1B262F;
    color: white;
}


.part2__intro button:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}


@media only screen and (max-width:1080px) {
    .part2{
        margin-top: 600px;
        height: 770px;
    }

    .part2__intro{
        position: absolute;
        top: 1400px;
        left: 350px;
        text-align: center;
    }

    .part2__box1{
        position: absolute;
        left: 280px;
        top: 1200px;
    }

    .part2__box2{
        position: absolute;
        left: 280px;
        top: 1270px;
    }
}

@media only screen and (max-width:425px){
    .part2{
        height: 670px;
        width: 725px;
    }

    .part2__intro{
        margin-top: 150px;
        margin-left: -150px;
    }

    .rasm{
        display: block;
        justify-content: start;
    }

    .part2__box1{
        margin-left: -100px;
        margin-top: 70px;
    }

    .part2__box2{
        margin-left: 200px;
    }

    .rasm{
        margin-bottom: 40px;
    }
}